@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
:root {
  /*color*/
  --color--font: #d16262;
  --color--back: #7acbcd;
  --color--background: #2e2e2e;
  --color--grey: rgba(194, 194, 194, 0.884);
  --color--white: rgba(255, 255, 255, 0.918);
}

body {
  margin: 0;
  font-family: "Mukta", sans-serif;
  cursor: default;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color--font);
}




/*navbar*/
#navbar {
  display: flex;
  position: fixed;
  top: 0;
  background-color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 4px 6px;
  width: 100%;
  overflow-x: auto;
  border-bottom: 4px groove rgba(185, 185, 185, 0.664);
  font-weight: 600;
}

.navbar_logo {
  font-size: 20px;
  margin: auto 15px;
  padding: 5px 12px;
  border-radius: 4px;
}

.logo_img{
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 8px;
  margin-left: 8px;
  border-radius: 50%;
}
.navbar_menu {
  display: flex;
  margin: 0 0;
}

.navbar_menu_item {
  padding: 4px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid transparent;
  color: var(--color--font);
}

.navbar_menu_item:hover {
  border-radius: 4px;
  border: solid 2px whitesmoke;
  cursor: pointer;
}


/*explore*/
.explore{
  display: block;
  text-align: center;
}

.exploretitle{
  font-size: 80px;
  margin-top: 140px;
  margin-bottom: 45px;
  background: linear-gradient(to right top, #d91b24a1, #1250eb9d);
  color: transparent;
    -webkit-background-clip: text;
}

.items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3,1fr);
  padding: 40px 200px;
  gap: 30px 50px;
}

.item{
  border: 1.5px solid transparent;
  border-radius: 4px;
  padding-bottom: 12px;
}

.item_img{
  width: 100%;
  height: 240px;

}

.item_img:hover{
  cursor: pointer;
}

.item_description{
  font-size: 16px;
  background: linear-gradient(to right top, #861657, #ffa69e);
  color: transparent;
  -webkit-background-clip: text;
}

.item_by{
  font-size: 13px;
}



/*Mypage*/
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
  min-height: 500px;
  border-radius: 5px;
}



#profile {
  padding: 40px 300px;
  padding-top: 200px;
  text-align: center;
}

.profile_container{
  background-color: white;
  padding-top: 50px;
}

.profile_avatar {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

.profile_title{
  font-size: 30px;
}

.profile_description {
  font-size: 13px;
}



.profile_contact {
  color: var(--color--font);
  font-size: 15px;
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid rgb(159, 159, 159);
  border-radius: 4px;
  cursor: pointer;
}

.profile_contact:hover {
  background-color: rgb(207, 206, 206);
  border-radius: 4px;
}





/*search*/
.search-background{
  background-image: linear-gradient(to right top, #d91b24a1, #1250eb9d);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

.search {
  background-color: #fff;
  padding: 4px;
  border-radius: 5px
}

.search-1 {
  position: relative;
  width: 100%
}

.search-1 input {
  height: 45px;
  border: none;
  width: 100%;
  padding-left: 34px;
  padding-right: 10px;
  border-right: 2px solid #eee
}

.search-1 input:focus {
  border-color: none;
  box-shadow: none;
  outline: none
}

.search-1 i {
  position: absolute;
  top: 12px;
  left: 5px;
  font-size: 24px;
  color: #eee
}

::placeholder {
  color: rgb(167, 167, 167);
}

.search-2 {
  position: relative;
  width: 100%
}

.search-2 input {
  height: 45px;
  border: none;
  width: 100%;
  padding-left: 18px;
  padding-right: 100px
}

.search-2 input:focus {
  border-color: none;
  box-shadow: none;
  outline: none
}

.search-2 i {
  position: absolute;
  top: 12px;
  left: -10px;
  font-size: 24px;
  color: #eee
}

.search-2 button {
  position: absolute;
  right: 1px;
  top: 0px;
  border: none;
  height: 45px;
  background-color: red;
  color: #fff;
  width: 90px;
  border-radius: 4px
}

@media (max-width:800px) {
  .search-1 input {
      border-right: none;
      border-bottom: 1px solid #eee
  }

  .search-2 i {
      left: 4px
  }

  .search-2 input {
      padding-left: 34px
  }

  .search-2 button {
      height: 37px;
      top: 5px
  }
}