@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
:root {
  /*color*/
  --color--font: #d16262;
  --color--back: #7acbcd;
  --color--background: #2e2e2e;
  --color--grey: rgba(194, 194, 194, 0.884);
  --color--white: rgba(255, 255, 255, 0.918);
}

body {
  margin: 0;
  font-family: "Mukta", sans-serif;
  cursor: default;
}

section {
  font-family: "Mukta", sans-serif;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color--font);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 4px 6px;
  width: 100%;
  overflow-x: auto;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
  border-bottom: 4px groove rgba(150, 150, 150, 0.651);
  font-weight: 600;
}

.navbar_logo {
  font-size: 20px;
  font-weight: var(--weight-semi-bold);
  margin: auto 15px;
  padding: 5px 12px;
  border-radius: 4px;
}

.logo_img{
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 8px;
  margin-left: 8px;
  border-radius: 50%;
}
.navbar_menu {
  display: flex;
  margin: 0 0;
}

.navbar_menu_item {
  padding: 4px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  border: 2px solid transparent;
  color: var(--color--font);
}
.navbar_menu_item:hover {
  background-color: var(--color-pink);
  border-radius: var(--size-border-radius);
  border: solid 2px white;
  cursor: pointer;
}

.explore{
  margin-top: 100px;
  display: block;
  text-align: center;
}

.exploretitle{
  font-size: 50px;
  margin-bottom: 45px;

}