@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
:root {
  /*color*/
  --color--font: #d16262;
  --color--back: #7acbcd;
  --color--background: #2e2e2e;
  --color--grey: rgba(194, 194, 194, 0.884);
  --color--white: rgba(255, 255, 255, 0.918);
}

body {
  margin: 0;
  font-family: "Mukta", sans-serif;
  cursor: default;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color--font);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 4px 6px;
  width: 100%;
  overflow-x: auto;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
  border-bottom: 4px groove rgba(185, 185, 185, 0.664);
  font-weight: 600;
}

.navbar_logo {
  font-size: 20px;
  font-weight: var(--weight-semi-bold);
  margin: auto 15px;
  padding: 5px 12px;
  border-radius: 4px;
}

.logo_img{
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 8px;
  margin-left: 8px;
  border-radius: 50%;
}
.navbar_menu {
  display: flex;
  margin: 0 0;
}

.navbar_menu_item {
  padding: 4px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  border: 2px solid transparent;
  color: var(--color--font);
}
.navbar_menu_item:hover {
  background-color: var(--color-pink);
  border-radius: var(--size-border-radius);
  border: solid 2px white;
  cursor: pointer;
}

.explore{
  margin-top: 100px;
  display: block;
  text-align: center;
}

.exploretitle{
  font-size: 50px;
  margin-bottom: 45px;
  background: linear-gradient(to right top, #861657, #ffa69e);
  color: transparent;
    -webkit-background-clip: text;
}

.items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3,1fr);
  padding: 40px 200px;
  gap: 30px 50px;
}

.item{
  border: 1.5px solid grey;
  border-radius: 4px;
  padding-bottom: 12px;
}

.item_img{
  width: 100%;
  height: 240px;

}

.item_img:hover{
  cursor: pointer;
}

.item_description{
  font-size: 16px;
  background: linear-gradient(to right top, #861657, #ffa69e);
  color: transparent;
  -webkit-background-clip: text;
}

.item_by{
  font-size: 13px;
}



/*contact*/
.contact {
  margin-top: 50px;
  padding: 40px 0;
  padding-top: 70px;
  text-align: center;
}

.contact__container {
  text-align: center;
  padding-top: 70px;
  vertical-align: middle;
}

.contact_title {
  color: var(--color--back);
  font-size: 70px;
  letter-spacing: 10px;
}

.contact_mail {
  color: var(--color--font);
  font-size: 30px;
}

.contact_links {
  font-size: 50px;
  margin: 0 80px;
}

.contact_rights {
  color: black;
  font-size: 15px;
  padding-top: 80px;
}
