@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
:root {
    --font: 'Lato', sans-serif;
    --primary: #79C7C5;
    --secondary: #A1E2D9;
    --white: #F9FBFF;
    --dark: #777777;
}


html {
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  background: linear-gradient(to bottom left, #416e6c 40%, #656d6c 100%);
  font-family: --font;
}

.container {
  position: relative;
  margin: 12% auto;
  width: 620px;
  height: 450px;
}

.messages {
  position: absolute;
  background: rgb(0, 0, 0);
  opacity: 0.7;
  width: 34%;
  height: 70%;
  top: 2.5%;
  left: 5%;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: -5px 5px 10px rgba(grey, .5);
}

/*chat messages */
.people {
  position: absolute;
  list-style-type: none;
  width: 30.2%;
  left: -10px;
  top: 24.7%;
  line-height: 0.7em;
}
.title {
    text-transform: uppercase;
    font-size: 0.7em;
    margin-left: 14px;
    letter-spacing: 1px;
    color: whitesmoke;
}

  .time {
    font-size: 0.3em;
    color: grey;
    position: absolute;
    right: 10px;
    margin-top: 2px;
  }

  .preview {
    color: #79C7C5;
    margin-left: 14px;
    font-size: 0.5em;
  }


.person {
  padding: 12px 0 12px 12px;
  border-bottom: 1px solid #79C7C5;
  cursor: pointer;
  border: transparent 1px solid;
}
.person:hover {
    border: #F9FBFF 1px solid;
    transition: all .3s ease-in-out;
  }


.focus {
  border: #F9FBFF 1px solid;
  margin-left: 1px;
}

.profile {
  position: absolute;
  left: 16%;
  top: 7%;
}

.name2{
  position: absolute;
  top: 50px;
  left: 2px;
  text-transform: uppercase;
  color: #79C7C5;
  font-size: .8em;
  letter-spacing: 2px;
  font-weight: 500;
}
.email {
  color: white;
  font-size: .5em;
  margin-left: -30px;
  margin-top: 2px;
}

.chatbox {
  position: absolute; 
  left: 40%;
  height: 80%;
  width: 60%;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(grey, 0.5);
}

.top-bar {
  width: 100%;
  height: 60px;
  background: rgb(57, 57, 57);
  border-radius: 10px 10px 0 0;
}

.avatar {
  width: 35px;
  height: 35px;
  background: linear-gradient(to bottom left, #79C7C5 20%, #87c9c7 100%);
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: 15px;
}
  p {
    color: rgb(0, 0, 0);
    margin: 7px 12px;
  }


.name {
  position: absolute;
  top: 22px;
  text-transform: uppercase;
  color: grey;
  font-size: .8em;
  letter-spacing: 2px;
  font-weight: 500;
  left: 60px;
}

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 10px;
  height: 20px;
  cursor: pointer;
}
.menu:hover {
    transform: scale(1.1);
    transition: all .3s ease-in;
  }


.icons {
  position: absolute;
  color: #92c6c4;
  padding: 10px;
  top: 5px;
  right: 21px;
  cursor: pointer;
}
.fas {
    padding: 5px;
    opacity: 0.8;
}
.fas:hover {
      transform: scale(1.1);
      transition: all .3s ease-in;
    }



.dots {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #79C7C5;
  box-shadow: 0px 7px 0px #79C7C5, 0px 14px 0px #79C7C5;
}

.middle {
  position: absolute;
  background: whitesmoke;
  width: 100%;
  opacity: 0.85;
  top: 60px;
  height: 80%;
}

.incoming {
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 20px;
}



.typing {
  position: absolute;
  top: 67%;
  left: 20px;
}
.bubble {
  background: lighten(grey, 45%);
  padding: 8px 13px 9px 13px;
}



.ellipsis {
  width: 5px;
  height: 5px;
  font-size: 15px;
  color: white;
  display: inline-block;
  background: lighten(grey, 25%);
  border-radius: 50%;
  animation: bounce 1.3s linear infinite;
}

.bubble {
  position: relative;
  display: inline-block;
  margin-bottom: 7px;
  color: rgb(41, 41, 41);
  font-size: 0.8em;
  padding: 10px 10px 10px 12px;
  border-radius: 20px;
}

.lower {
  margin-top: 45px;
}

.outgoing {
  position: absolute;
  padding: 20px;
  right: 0;
  top: 15%;
  width: 50%;
  height: 100%;
}
  .bubble {
    background: #79C7C5;
    float: right;
  }



.bottom-bar {
  position: absolute;
  width: 100%;
  height: 55px;
  bottom: 0;
  background: rgb(57, 57, 57);
  border-radius: 0 0 10px 10px;
  
}

.left {
  left: 0px;
}

input {
  padding: 7px;
  width: 74%;
  left: 5%;
  position: absolute;
  border: 10px;
  top: 13px;
  background: white;
  color: #79C7C5;

}

input::placeholder {
  color: #000000;
}

input:focus {
  color: grey;
  outline: 0;
}

button {
  position: absolute;
  border: 0;
  font-size: 1em;
  color: #8cc1bf;
  top:  10px;
  opacity: 0.8;
  right: 17px;
  cursor: pointer;
  outline: 0;
  bottom: 10px;
  background-color: transparent;
}
button:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
    color: #79C7C5;
  }





@keyframes bounce {
  30% { transform: translateY(-2px); }
  60% { transform: translateY(0px); }
  80% { transform: translateY(2px); }
  100% { transform: translateY(0px); opacity: 0.5;  }
}