@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

:root {
  /*color*/
  --color--font: #d16262;
  --color--back: #7acbcd;
  --color--background: #2d3030;
  --color--grey: rgb(194, 194, 194);
  --color--white: rgba(255, 255, 255, 0.815);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color--background);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: auto;
  font-family: "Mukta", sans-serif;
}

.container {
  position: relative;
  width: 550px;
  height: 500px;
  border-radius: 4px;
  padding: 40px;
  box-sizing: border-box;
  background: var(--color--back);
}

.brand_logo {
  height: 80px;
  width: 80px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
}

.brand_title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 40px;
  color: var(--color--font);
}

.login_label {
  color: var(--color--white);
  font-size: 20px;
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 4px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

button {
  display: block;
  width: 100%;
  padding: 0;
  border: 1px solid var(--color--white);
  outline: none;
  box-sizing: border-box;
}

input::placeholder {
  color: var(--color--grey);
}

input {
  display: inline;
  width: 100%;
  border: 1px solid var(--color--white);
  box-sizing: border-box;
  background: rgb(241, 240, 240);
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
}

button {
  color: var(--color--white);
  background: var(--color--font);
  height: 40px;
  border-radius: 10px;
  cursor: grab;
  font-size: 20px;
  box-shadow: none;
  transition: 200ms;
  display: block;
  width: 30%;
  margin: 20px auto;
  padding: 5px 0;
  border: 1px solid --color--white;
  outline: none;
  box-sizing: border-box;
}

button:hover {
  transform: scale(1.08);
}

a {
  position: absolute;
  font-size: 15px;
  bottom: 6px;
  right: 8px;
  text-decoration: none;
  color: var(--color--white);
  background: transparent;
  border-radius: 10px;
  padding: 2px;
}
